@charset "utf-8";
/* CSS Document */		
body{
			background-image: url("images/white background.jpg");
			content: "";
  			display: block;
  			
  			left: 0;
  			top: 0;
  			width: 100%;
  			height: 100%;
  			z-index: -10;
  			
  			-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-size: cover;
  			background-size: cover;
}

.media-body {
  margin-top: 0px;
}
#myPhoto{
	width: 185px;
	height: 300px;
}
#csinfo{
	margin-top: 50px;
}
#csicon{
	margin-top: 80px;
}
#pyinfo{
	margin-top: 80px;
}
#bio{
	font-size: 1.4em;
}
#work{
	font-size: 1.4em;
}
#folio{
	font-size: 1.4em;
}
#address{
	margin-top: 25px;
}



